<style>
  div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
  }

  img {
    width: 90%;
  }

  h1 {
    font-size: 100%;
    color: #730E15;
    line-height: 1.5em;
  }
</style>


<nav class="navbar navbar-default navbar-static-top">
<div class="container-fluid">
</div>
</nav>

<div class="container">

東工大研究室

<a href="http://www.titech.ac.jp/graduate_school/news/pdf/H2804_bosyuyoko_master54967.pdf">

    大学院修士課程 平成28年　4月入学

  </a>

  <br>

  <%= form_for(@voice) do |f| %>
    <p>このサイトについての意見はこちら</p>
    <%= f.text_field :t %>
  <% end %>

  <div class='dialog'>
    <h1>眠いけど開発してるよ</h1>
    <%= image_tag("miharu_sleep.jpg") %>
  </div>

  <h1>時は戦国。各研究所が覇を争う時代。</h1>

  <% @members.each do |member| %>
    <div id='user_inf_window'>
      <%= link_to '', controller: 'members', action: 'show', id: member.id %>
      <div id='thumbnail'>
        <span id="thumbnail_image" style="background-image: url(/images/thumbnail.jpg)"></span>
      </div>
      <div id='user_inf'>
        <div id='name'><%= member.name %></div>
      </div>
    </div>
  <% end %>

</div>


<div id="footer" class="navbar-fixed-bottom">
  <div id="footer-arrow" class="operator-hide">
    <%= image_tag("arrow.jpg") %>
  </div>

  <br>

  <div class="container">
    <% @groups.each do |group| %>
      <div class="exam_group">
        <%= link_to controller: 'exam_groups', action: 'show', id: group.id do %>
          <%= group.name %><span class="badge"><%= group.members_count %></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
