<!DOCTYPE html>
<html>
<head>
  <title>Taboratory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-35078721-10', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
  </div>
  </nav>

  <div class="container" id="main-container">

    <div id="contents">
      <%= yield %>
    </div>

  </div>

  <div id="footer" class="navbar-fixed-bottom">
    <div id="footer-arrow" class="operator-hide">
      <%= image_tag("arrow.jpg") %>
    </div>

    <div class="container text-center">
      Created by Team Silca
    </div>

    <br>

    <% @groups.each do |group| %>
      <%= link_to group.name, controller: 'exam_groups', action: 'show', id: group.id %>
    <% end %>
  </div>
</body>
</html>
