<header class="jumbotron laboratory-jumbotron">
  <div class="container text-center">
    <h1><%= @member.name %> 研究室</h1>
    <p><%= @member.study %></p>
    <% if @member.homepage_url %>
      <p><a class="btn btn-lg learn-more" role="button" href="<%= @member.homepage_url %>" target="_blank">偵察する &raquo;</a></p>
    <% end %>
  </div>
</header>

<div class="container">


<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 35%"></div>
  <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 65%"></div>
</div>

<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-4">
    <a href="#" class="thumbnail">
      <%= image_tag("miharu_sleep.jpg") %>
      <div class="caption text-center">
        <h3>GOOD</h3>
      </div>
    </a>
  </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-4">
    <a href="#" class="thumbnail">
      <%= image_tag("miharu_sleep.jpg") %>
      <div class="caption text-center">
        <h3>BAD</h3>
      </div>
    </a>
  </div>
  <div class="col-xs-1"></div>
</div>
