<header class="jumbotron laboratory-jumbotron">
  <div class="container text-center">
    <h1><%= @member.name %> 研究室</h1>
    <p><%= @member.study %></p>
    <% if @member.homepage_url %>
      <p><a class="btn btn-lg learn-more" role="button" href="<%= @member.homepage_url %>" target="_blank">偵察する &raquo;</a></p>
    <% end %>
  </div>
</header>

<div class="container">


<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: <%= @good_percent %>%"></div>
  <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: <%= 100 - @good_percent %>%"></div>
</div>

<div class="row">
  <% if @think %>
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <div href="#" class="thumbnail">
        <% if @think.good %>
          <%= image_tag("good.jpg") %>
          <div class="caption text-center">
            <h3>GOOD</h3>
          </div>
          <div class="caption text-center">
            <h4>なぜ？</h4>
            <%= form_for(@to_member_comment, html: {class: 'input-group'}, url: {action: 'comment'}) do |f| %>
              <%= f.text_field :t, class: "form-control" %>
              <span class="input-group-btn">
                <%= f.submit "コメント", class: "btn btn-default" %>
              </span>
            <% end %>
          </div>
        <% else %>
          <%= image_tag("bad.jpg") %>
          <div class="caption text-center">
            <h3>BAD</h3>
          </div>
          <div class="caption text-center">
            <h4>なぜ？</h4>
            <%= form_for(@to_member_comment, html: {class: 'input-group'}, url: {action: 'comment'}) do |f| %>
              <%= f.text_field :t, class: "form-control" %>
              <span class="input-group-btn">
                <%= f.submit "コメント", class: "btn btn-default" %>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-4"></div>
  <% else %>
    <div class="col-xs-1"></div>
    <div class="col-xs-4">
      <%= link_to({controller: 'members', action: 'good'}, {class: 'thumbnail'}) do %>
        <%= image_tag("good.jpg") %>
        <div class="caption text-center">
          <h3>GOOD</h3>
        </div>
      <% end %>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
      <%= link_to({controller: 'members', action: 'bad'}, {class: 'thumbnail'}) do %>
        <%= image_tag("bad.jpg") %>
        <div class="caption text-center">
          <h3>BAD</h3>
        </div>
      <% end %>
    </div>
    <div class="col-xs-1"></div>
  <% end %>
</div>


<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-6">
    <ul class="list-group">
      <% @member.to_member_comments.order('updated_at DESC').each do |comment| %>
        <% if comment.good %>
          <li class="list-group-item list-group-item-info"><%= comment.t %></li>
        <% else %>
          <li class="list-group-item list-group-item-danger"><%= comment.t %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-4"></div>
</div>


</div>
